name: Package

on: [push]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - run: python package.py
      - run: unzip viastitching.zip -d package
      - uses: actions/upload-artifact@v6
        with:
          name: ViaStitching
          path: package/
